body {
  background: #f0f0ff;
}

body.essay {
  background: url("../../image/essay.jpg");
}
body.photo {
  background: url("../../image/abehiroshi.jpg");
}
body.stage {
  background: url("../../image/stage.jpg");
  padding-bottom: 25px;
}

hr {
  border-style: solid none none none;
}

.page-title {
  padding-top: 25px;
  font-size: 1.5em;
  text-align: center;
}
.sub-title {
  font-size: 1.5em;
  text-align: center;
}

/* 舞台出演 */
.stage .sub-title {
  padding-top: 29px;
  margin-bottom: 20px;
}
.stage-list {
  width: 700px;
  margin: 0 auto;
  font-weight: bold;
  text-align: left;
}
.stage-list.stage {
  margin-bottom: 16px;
}
.stage-list td:nth-child(1) {
  width: 145px;
}
.stage-list td:nth-child(2) {
  width: 350px;
}
.stage-list .cymbeline {
  padding-bottom: 22px;
}
.stage-list .atamiMurderCase {
  padding-top: 25px;
}
.stage .sub-title.radio {
  padding-top: 22px;
}
.stage-list.radio {
  margin-bottom: 35px;
}
.stage-list.record {
  margin-bottom: 35px;
}
.stage-list.video {
  margin-bottom: 16px;
}



/* 写真集 */
.photo .page-title {
  padding-bottom: 33px;
}
.photo-list {
  width: 700px;
  margin: 0 auto;
  margin-top: 49px;
  margin-bottom: 33px;
  font-weight: bold;
  text-align: left;
}

/* 出版本 */
.essay-list {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.essay-list a {
  font-weight: bold;
}

/* 管理者のページ */
.admin-attention {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 64px;
}